---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="開発テスト" description="開発テスト" pageUrl="/develop-test/">
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li>開発テスト</li>
                </ol>
            </nav>
        </div>
        <section class="tp-front__section">
            <h1 class="tp-front__ttl font_m_plus">
                <span>開発テスト</span>
            </h1>
            <p class="tp-front__caption">開発テスト</p>
        </section>
        <section class="tp-front__section">
            <h2 class="tp-front__ttl font_m_plus">
                <span>開発テスト</span>
            </h2>
            <p class="tp-front__caption">開発テスト</p>
        </section>
    </article>
</Layout>
